/* main body */
body{
    background-color: #1f232c;
    color: #fff;
    padding: 0;
    margin: 0;
}
html {  
    scroll-behavior: smooth;  
}

/* heading */
header{
    background: url(../images/projector.jpg);
    width: 100%;
    background-size: cover;
    height: 130px;
    padding: 0;
    display: flex !important;
}
.logo{
    height: 100px;
    margin-left: 350px;
    margin-right: auto;
}

/* search section - aside */
#search-section{
    max-height: 200px;
}
#form-heading{
    color: rgb(209, 117, 75);
    text-align: center;
}
#search-form{
    align-self: center;
}
#search-button{
    background:  sienna;
    border-radius: 5px;
    margin-top: 10px;
    padding: 0;
}

#search-button:hover{
    opacity: .7;
}.input-group-append{
    display: block;
}


/* Saved section */
#savedSearches{
    display: flex;
    align-content: center;
}

#clearButton{
    background:  sienna;
    border-radius: 5px;
    margin-top: 10px;
    padding: 0;   
}


/* page info section */
#infoText{
    margin-top: 15px;
    text-align: center;
    color: rgb(209, 117, 75);
    font-weight: 600;
}

#savedHeader{
    text-align: center;
    margin-top: 15px;
    color: rgb(209, 117, 75);
}


/* searched movie section */
#movie-poster {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-left: 10px;
}
#movie-poster img{
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

#movie-info{
    display: flex;
    padding: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: larger;
    padding: 15px;

}
.entered-info{
    background-color: #2b2f38;
    border-radius: 15px;
    border: 5px solid sienna;
}

#faveButton{
    background: sienna;
    border-color: sienna;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}

#faveButton:hover{
    opacity: .7;
}


/* clickable poster section */
.moviePull{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0;
}

.posterImage{
    max-height: 400px; 
    max-width: 100%;
    border-radius: 15px;
    border: 5px solid sienna;
}

.posterImage:hover{
    opacity: .6;
}

#footer{
    color: rgb(209, 117, 75);
}