/* main body */
body{
    background-color: #1f232c;
    color: #fff;
    padding: 0;
    margin: 0;
}



/* nav bar */
header{
    background: url(../images/projector.jpg);
    width: 100%;
    background-size: cover;
    height: 130px;
    padding: 0;
    display: flex !important;
}
.logo{
    height: 100px;
    margin-left: 30%;
    margin-right: auto;
}



/* search section - aside */
#search-section{
    max-height: 200px;
}
#form-heading{
    text-align: center;
}
#search-form{
    align-self: center;
}
#search-button{
    background:  cornflowerblue;
    border-radius: 5px;
    margin-top: 10px;
    padding: 0;
}
#search-button:hover{
    opacity: .70
}


/* info section */
#infoText{
    text-align: center;
}


/* #cineImage{
    padding: 0;
}
#cineImage img{
    max-height: 200px;
    width: 100%;
} */
